<a href="https://colab.research.google.com/github/huongd17at089/DS_handbook/blob/master/Pandas_handbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Series object


* Series object = sequence of values + a sequence of indices
* ~ python dict ( key : value ~ index ~ value)
* ~ one-dimensional numpy
*   accessed by index
* default case :

In [12]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'd', 'c', 'b'])

In [13]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [14]:
data.index

Index(['a', 'd', 'c', 'b'], dtype='object')

In [15]:
data['a']

0.25

In [16]:
data.a

0.25

In [17]:
data['a' : 'c']

a    0.25
d    0.50
c    0.75
dtype: float64

# DataFrame object


*   DataFrame as a sequence of Series objects share the same index
*   ~ two-dimensional NumPy

In [20]:
population = pd.Series(
    {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
)
area = pd.Series(
    {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
)

states = pd.DataFrame(
    {
        "population" : population,
        "area" : area
    }
)
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [21]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [23]:
states.columns

Index(['population', 'area'], dtype='object')

## Constructing DataFrame objects



*   pd.DataFrame(seri, columns) ->  From a single Series object 
*   pd.DataFrame([{col1: val1 , col2: val2, ...}, {col1: val1 , col3: val3, ...}, ...])-> From a list of dicts
*   pd.DataFrame({ col1: seri1 , col2 : seri2}) -> From a dictionary of Series objects
*   pd.DataFrame(2d_array, columns, index) -> From a two-dimensional NumPy array